body {
    font-family: sans-serif;
}
h1 {
    color: rgb(255, 208, 0);
}
nav a{
    background-color: aqua;
    color: white;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
}
p{
    background-color: aquamarine;
    border: 3px solid blue;
    border-radius: 10px;
    padding: 5px;
    font-family: Cambria;
}
h2 {
    background-color: chocolate;
    border-radius:  20px;
    border: 10px solid blanchedalmond;
    padding: 10px;   
}
